body {
  background: #f5f7f8;
  margin-left: 20px;
}

input {
    display: block;
    margin-top: 5px;
    width: 224px;
}

#invalid-signin {
  display: none;
  font-weight: bold;
  color: rgb(248, 87, 87);
  width: 350px;
  margin-top: 5px;
}

#invalid-signin svg {
  vertical-align: middle;
}
