body {
  background: #f5f7f8;
}

.sidebar {
  background: #20272a;
  width: 175px;
  position: fixed;
  height: 100%;
  z-index: 10000;
  transition: all .5s;
  top: 0;
  left: 0;
}
.sidebar .navicon {
  text-align: right;
  padding: 10px 15px;
  color: #ffffff;
}
.sidebar .navicon a {
  color: #ffffff;
  font-size: 22px;
  display: inline-block;
}
.sidebar .sidebar-menu li a {
  display: block;
  padding: 10px;
  background: transparent;
  color: #ffffff;
  font-size: 16px;
  transition: all .5s linear;
}
.sidebar .sidebar-menu li a:hover {
  background: #03c4e8;
  text-decoration: none;
}
.sidebar .sidebar-menu li a i {
  margin-right: 10px;
  font-size: 15px;
}
.sidebar #menuicon {
  transition: all 0.5s;
}

body.sidebar-mini .sidebar {
  width: 50px;
}
body.sidebar-mini .sidebar .sidebar-menu li a {
  text-align: center;
}
body.sidebar-mini .sidebar .sidebar-menu li a span {
  display: none;
}

.page-content {
  width: calc(100% - 175px);
  margin-left: 200px;
  transition: all 0.5s;
}
.page-content button {
  background: #20272a;
  width: 150px;
  color: white;
  border: none;
  padding: 15px;
  margin-left: 15px;
  margin-top: 25px;
  border-radius: 2px;
}

.page-content button:hover {
  background: #03c4e8;
}

#markets {
  display: grid;
  width: 1000px;
  border: 1px gray;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  grid-auto-rows: 300px;
}

#markets > div {
  /* background: gray; */
  border: 1px solid #E0E0E0;
  padding: 1em;
}

.market-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0px;
}